.body {
  padding-top: 2%;
  /*text-align: center !important;*/
}

.todo {
    padding: 2%;
    position: relative;
    /*margin: 2px !important;*/
}

.todo .actions {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}

.pointer {
    cursor: pointer;
}